@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
  margin: 0em;
}


body {
  background: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.9)), url("./img/fondoTronoDragon.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

h1 {
  text-align: center;
  margin: 1em;
}

#root {
  width: 400px;
  height: calc(100vh - 15.625em);
}

#columna1 {
  width: 400px;
  height: calc(100vh - 15.625em);
}



.imagen-personaje {

  height: 12.5em;
  width: auto;
  object-fit: cover;
  border-radius: 0.813em;
}

*/ .informacion {
  display: flex;
  justify-content: baseline;
  height: 2.1em;
}

/*input*/
.filtro-personajes {
  border-radius: 0.4em;
  height: 3em;
  width: auto;
  background-color: #f5f1f128;
  color: white;
  font-size: 1em;
  margin-left: 6%;
  font-family: 'Montserrat';
}

.filtro-personajes:hover {
  border: 2px solid white;
}

.input-logo {
  position: relative;
  width: 271px;
}

.input-icon {
  color: white;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
}



/*logo Grande*/
.logo-header {
  height: 12em;
  width: auto;

}

/*logo secundario*/
.logo--header {
  height: 2em;
  width: auto;

}

header {
  display: flex;
  align-items: center;
}

#columna3 {
  width: 400px;
  height: auto;
  /*height: calc(100vh - 15.625em);*/
  margin-top: 0em;
  margin-left: -15em;

}


.informacion {
  display: flex;
  justify-content: baseline;
  height: 2.1em;
}


/*logo Grande*/
.logo-header {
  height: 12em;
  width: auto;

}

/*logo secundario*/
.logo--header {
  height: 2em;
  width: auto;

}

header {
  display: flex;
  align-items: center;
}


/*los botones*/
button {
  width: 26.8em;
  max-width: 26.8em;
  height: 4.3em;
  min-height: 4.3em;
  background: #453F3F;
  border-radius: 1.875em;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 0.625em;
  cursor: pointer;
  transition: all ease 0.5s;
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  text-decoration: none;

}


button:after,
button:before {
  width: 80px;
  height: 200px;
  content: '';
  display: block;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(45deg);
  top: -60px;
  position: absolute;
  transition: none;
  right: -45%;
  cursor: pointer;
}

button:before {
  left: -48%;
}

button:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background: #453F3F;
}

button:hover:after,
button:hover:before {
  transform: rotate(45deg), scaleX(130%);
  background: rgba(255, 255, 255, 0.1);
  transition: all ease 0.5s;
}

button:hover:after {
  right: 130%;
}

button:hover:before {
  left: 130%;
}




/*imagen personaje en boton*/
.imagen-personaje {
  width: 3.8em;
  height: 3.8em;
  border-radius: 100%;
  float: left;
  margin-left: 0.1em;
  object-fit: cover;
}

p {
  float: left;
  width: 100%;
  color: white;
  margin-left: 0.625em;
  font-family: 'Montserrat';
  font-weight: 300;
  line-height: 0.078em;
  letter-spacing: 0.25em;
  text-align: left;
}

/*clases reutilizables*/
.text-center {
  text-align: center;
}

.margin-top15 {
  margin-top: 1.5em;
}

.margin-right10 {
  margin-right: 10%;
}

.margin-right25 {
  margin-right: 25%;
}

.fondo-negro {
  background: black;
}

/*columna3*/
.tarjeta {
  width: 23%;
  background: #302c2c;
  float: right;
  height: calc(100vh - 14.375em);
  border-radius: 1.875em;
  margin-right: 5em;
}


/*parrafo columna*/
.tarjeta p {
  line-height: normal;
}

/*imagen personaje en tarjeta*/
.imgCharacter {
  width: 18em;
  margin: 0 auto;
  display: block;
  height: 18em;
  object-fit: cover;
  margin-top: 3.5em;
  margin-bottom: 1em;
  border-radius: 1em;
}

/*parrafo character details*/
.details {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

/*Div Padre de search/Order y Miembros*/
.padre-elementos-superiores {
  display: flex;
  align-items: baseline;
  /*background: rgba(0, 0, 0, 0.25)*/

}

/*columna 1&2*/
.columnas {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: calc(100vh - 15.625em);
  overflow-y: scroll;
  float: left;
  background-color: #302c2c;
  border-radius: 1.875em;
  margin-top: 1.25em;
}

/*cantidad de miembros por familia en pantalla*/
.cantidad-miembros {
  display: flex;
  font-weight: bolder;
  font-family: 'Montserrat';
}

/*clase reutilizable*/
.ancho-auto {
  width: auto;
}

/*clase reutilizable*/
.bold {
  font-weight: 400;
}

/*botón al ser seleccionado*/
.seleccion-boton {
  background: #D9D9D9;
  /* border: 1px solid #000000; */
  box-shadow: 0em 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

/*letras del botón*/
.seleccion-boton p {
  color: black;
  font-weight: bolder;
}

/*selector de orden*/
#selectOrder {
  height: 3em;
  border-radius: 0.4em;
  margin-left: 17%;
  font-family: 'Montserrat';
  font-size: 1em;
  background: white;
}


/* Scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 0.938em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111316;
  border-radius: 1em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbbbb;
  border-radius: 1.875em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D9D9D9;

}


/* TARJETA PERSONAJE TITULOS */
.tarjetaPersonaje {
  color: white;
  margin-top: 0%;
  width: 300px;
  height: 20px;
  text-align: center;
  letter-spacing: 0.30em;
  margin-top: -2%;
  margin-left: 15%;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 1%;
  font-family: 'Montserrat';
}

.tarjetaPersonajeInfo {
  color: white;
  margin-top: 0%;
  width: 300px;
  height: 50px;
  text-align: center;
  letter-spacing: 0.30em;
  margin-left: 15%;
  margin-top: -1%;
  font-size: 15px;
  margin-bottom: 0%;
}

/* DIV PARA CENTRAR TEXTO TARJETA PERSONAJE */
.contenedorInfo {
  height: 400px;
  width: 400px;
  margin-top: -15%;
}


/* }  AQUI CIERRA EL MEDIA QUERIE DE ESCRITORIO */

/* Vista IPAD */

@media screen and (max-width: 820px) {

  html {
    background-color: black;
  }

  body {

    background-color: black;
    background-image: none;
  }

  .logo-header {
    height: auto;
    width: 60em;
    margin-left: -1em;
  }

  .logo--header {
    height: auto;
    width: 30%;
    display: none;
  }

  #selectOrder {
    height: 3em;
    border-radius: 0.4em;
    margin-left: -1em;

  }



  #columna1 {
    width: 700px;
    height: calc(100vh - 15.625em);
    background-color: #302c2c33;
    margin-left: 8em;
  }


  #root {
    width: 700px;
    height: calc(100vh - 15.625em);
    background-color: #302c2c33;
    margin-left: 8em;
  }

  .input-logo {
    position: relative;
    width: 271px;
    margin-left: -5em;
  }

  .input-icon {
    color: white;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 60px;
    margin-right: -47em;
    top: 50%;
    transform: translateY(-50%);
  }

  #columna3 {
    width: 700px;
    height: 1100px;
    margin-top: 1em;

    margin-right: -1em;
    background-color: #302c2cf1;
  }


  button {
    width: 20em;
    height: 5em;
    min-height: 4.3em;
    background: #453F3F;
    border-radius: 1.875em;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 0.625em;
    font-size: 2em;
  }

  .informacion {
    width: 20em;
    height: 5em;
    text-align: center;
  }

  .margin-top15 {
    margin-left: 5em;
    margin-top: -2em;

  }

  .filtro-personajes {
    border-radius: 0.4em;
    height: 3em;
    width: auto;
    background-color: #f5f1f142;
    color: white;
    font-size: 1em;
    margin-left: 48em;
  }

  /* TARJETA PERSONAJE TITULOS */
  .tarjetaPersonaje {
    color: white;
    width: 40em;
    height: 1.5em;
    text-align: center;
    letter-spacing: 0.30em;
    margin-right: 30em;
    margin-left: -2em;
    margin-top: 0em;
    font-size: 25px;
    margin-bottom: 0.2em;
    font-weight: 5em;

  }

  /* Nos quedamos con esta */
  .tarjetaPersonajeInfo {
    color: white;
    width: 800px;
    height: 35px;
    text-align: center;
    letter-spacing: 0.30em;
    margin-left: 2.5em;
    margin-top: 0em;
    font-size: 25px;
    overflow: auto;
  }

  .contenedorInfo {

    height: auto;
    width: 25em;
    margin-top: 1em;
    margin-left: -7em;
  }

  .imgCharacter {
    width: 30em;
    margin: 0 auto;
    display: block;
    height: 30em;
    object-fit: cover;
    margin-top: 3.5em;
    margin-bottom: 1em;
    border-radius: 1em;
    /* display: none; */
  }
}



/* VISTA MOVIL */


@media screen and (max-width: 390px) {

  html {
    background-color: black;

  }

  body {
    background-image: none;
  }


  .logo-header {
    height: auto;
    width: 60em;
    margin-left: -1em;
  }

  .logo--header {
    height: auto;
    width: 30%;
    display: none;
  }

  #selectOrder {
    height: em;
    border-radius: 0.4em;
    margin-left: 2em;
    font-size: 1em;

  }


  #columna1 {
    width: 700px;
    height: calc(200vh - 15.625em);
    background-color: #302c2c33;
    margin-left: 7em;
  }


  #root {
    width: 700px;
    height: 1800px;
    background-color: #302c2c33;
    margin-left: 7em;
  }



  #columna3 {
    width: 890px;
    height: calc(100vh - -50em);
    margin-top: 3em;
    margin-right: -33em;
    background-color: #302c2cf1;
  }


  button {
    width: 20em;
    height: 5em;
    min-height: 4.3em;
    background: #453F3F;
    border-radius: 1.875em;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 0.625em;
    font-size: 2em;
  }

  .informacion {
    width: 20em;
    height: 5em;
    text-align: center;
  }

  .margin-top15 {
    margin-left: 5em;
    margin-top: -2em;

  }

  .filtro-personajes {
    border-radius: 0.4em;
    height: 3em;
    width: auto;
    background-color: #f5f1f142;
    color: white;
    font-size: 1em;
    margin-left: 48em;
  }

  /* TARJETA PERSONAJE TITULOS */
  .tarjetaPersonaje {
    color: white;
    width: 35em;
    height: 1.5em;
    text-align: justify;
    letter-spacing: 0.30em;
    margin-right: 30em;
    margin-left: 6em;
    margin-top: 0em;
    font-size: 30px;
    margin-bottom: 0.2em;
    font-weight: 5em;
  
  }

  /* Nos quedamos con esta */
  .tarjetaPersonajeInfo {
    width: 400px;
    height: 80px;
    font-size: 30px;
    margin-top: -2em;
    margin-bottom: 1em;
    margin-left: 16em;
    text-align: left;
  }


  .titlePersonajeInfo{
    width: 400px;
    height: 80px;
    font-size: 30px;
    margin-top: -2em;
    margin-left: 16em;
    text-align: left;

  }
  .contenedorInfo {

    height: auto;
    width: 25em;
    margin-top: 1em;
    margin-left: -2em;
  }

  .imgCharacter {
    width: 52em;
    margin: 0 auto;
    display: block;
    height: 50em;
    object-fit: cover;
    margin-top: 3.5em;
    margin-bottom: 1em;

    /* display: none; */
  }

  .input-logo {
    position: relative;
    width: 271px;
    margin-left: -9em;
  }

  .input-icon {
    color: white;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 60px;
    margin-right: -45em;
    top: 50%;
    transform: translateY(-50%);
  }
}