@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
  margin: 0em;
}

body {
  background: black;
  width: 100%;
  padding: 0.625em;
  padding: 10px;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.9)), url("./img/fondoTronoDragon.jpg");
  transition: 1s;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;


}

h1 {
  text-align: center;
  margin: 1em;
}

.informacion {
  display: flex;
  justify-content: baseline;
  height: 2.1em;
}

.filtro-personajes {
  border-radius: 0.4em;
  height: 3em;
  width: auto;
  background-color: #f5f1f128;
  color: white;
  font-size: 1em;
  margin-left: 6%;
}

/*logo Grande*/
.logo-header {
  height: 12em;
  width: auto;
  
}

/*logo secundario*/
.logo--header {
  height: 2em;
  width: auto;

}

header {
  display: flex;
  align-items: center;
}


/*los botones*/
button {
  width: 26.8em;
  max-width: 26.8em;
  height: 4.3em;
  min-height: 4.3em;
  background: #453F3F;
  border-radius: 1.875em;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 0.625em;
  cursor:pointer;
  transition: all ease 0.5s;
  overflow: hidden;
  position: relative;
  color:rgba(255,255,255,1);
  box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
  text-decoration: none;
  
}

 
button:after,
button:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255,255,255,0.5);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
}
 
button:before{
	left: -48%;
}
 
button:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:#453F3F;
}
 
button:hover:after,
button:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 0.5s;
}
 
button:hover:after{
	right: 130%;
}
 
button:hover:before{
	left: 130%;
}




/*imagen personaje en boton*/
.imagen-personaje {
  width: 3.8em;
  height: 3.8em;
  border-radius: 100%;
  float: left;
  margin-left: 0.1em;
  object-fit: cover;
}

p {
  float: left;
  width: 100%;
  color: white;
  margin-left: 0.625em;
  font-family:'Montserrat';
  font-weight: 300;
  line-height: 0.078em;
  letter-spacing: 0.25em;
  text-align: left;

}

/*clases reutilizables*/
.text-center {
  text-align: center;
}

.margin-top15{
  margin-top: 1.5em;
}

.margin-right10 {
  margin-right: 10%;
}

.margin-right25 {
  margin-right: 25%;
}

.fondo-negro{
  background: black;
}

 /*columna3*/
.tarjeta{
  width:23%;
  background:#302c2c;
  float:right;
  height:calc(100vh - 14.375em);
  border-radius: 1.875em;
}


 /*parrafo columna*/
.tarjeta p{
  line-height: normal;
}

/*imagen personaje en tarjeta*/
.imgCharacter{
  width: 18em;
  margin:0 auto;
  display: block;
  height: 18em;
  object-fit: cover;
  margin-top:3.5em;
  margin-bottom: 1em;
  border-radius: 1em;
}

/*parrafo character details*/
.details{
  display: flex;
  justify-content: center;
  margin-top:1em;
}

/*Div Padre de search/Order y Miembros*/
.padre-elementos-superiores{
  display: flex;
  align-items: baseline;
  /*background: rgba(0, 0, 0, 0.25)*/ /*la mafer*/
}

/*columna 1&2*/
.columnas{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: calc(100vh - 15.625em);
  overflow-y: scroll; 
  float: left;
  background-color: #302c2c;
  border-radius: 1.875em;
  margin-top: 1.25em;
}

/*cantidad de miembros por familia en pantalla*/
.cantidad-miembros{  
 display: flex;
 font-weight: bolder;
}

/*clase reutilizable*/
.ancho-auto{
  width:auto;
}

/*clase reutilizable*/
.bold{
  font-weight: 400;
}

/*botón al ser seleccionado*/
.seleccion-boton{
  background: #D9D9D9;
  /* border: 1px solid #000000; */
  box-shadow: 0em 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

/*letras del botón*/
.seleccion-boton p {
  color: black;
  font-weight: bolder;
}

#selectOrder {
  height: 3em;
  border-radius: 0.4em;
  margin-left: 15%;

}


/* Scrollbar*/

/* width */
::-webkit-scrollbar {
  width:0.938em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111316;
  border-radius: 1em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbbbb; 
  border-radius: 1.875em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D9D9D9;

}

@media only screen and (max-width: 500px) {
  .recuadro-personaje {
    width: 100%;
  }

  .logo-header {
    height: auto;
    width: 50%;
    
  }

  .logo--header {
    height: auto;
    width: 30%;
  }
}


body.opacado {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url("./img/fondoTronoDragon.jpg");
}

/* Vista IPAD */
@media screen and (max-width: 1200px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)), url("./img/fondoTronoDragon.jpg");
    transition: 1s;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 170% 70%;
    background-position: center;
    background-size: cover;
    background-position-y: bottom;
  } 

  @media screen and (max-width: 1200px) {
    .logo-header {
      height: 14,5em;
      width: auto;  
      margin-top: 0%; 
      margin-left: 0%;
      
     } 
    .logo--header {
      height: 1em;
      display: none;

   
    }  
    }
  
    @media screen and (max-width: 1200px){
    #selectOrder {
      height: 3em;
      border-radius: 0.4em;
     display: none;
    
    }
  }

  @media screen and (max-width: 1200px) {
  .filtro-personajes {
    border-radius: 0.4em;
    height: 3em;
    width: auto;
    background-color: #f5f1f128;
    color: white;
    font-size: 1em;
     margin-left: 80%;
  }
}

@media screen and (max-width: 1200px){
.columnas {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: calc(100vh - 250px);
  overflow-y: scroll;
  float: left;
  background-color: #302c2c;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 30%;
}
}



@media screen and (max-width: 1200px){
  #columna3 {
  
   display: none;
  
  }
}

@media screen and (max-width: 1200px){
  #root {
  
   display: none;
  
  }
}


/* Vista Movil */
  @media screen and (max-width: 300px) {
      body {
        background-image: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0)
        ),url("./img/fondoTronoDragon.jpg");
        transition: 1s;
        background-repeat: no-repeat;
        position: relative; 
        background-attachment: fixed;
        /* left: 1px;
        top: 100px; */
        background-size: 20% 20%;
      }} 

      @media screen and (max-width: 850px){
        .columnas {
          display: flex;
          flex-direction: column;
          width: 50%;
          height: calc(2000vh - 250px);
          overflow-y: scroll;
          float: left;
          background-color: #302c2c;
          border-radius: 30px;
          margin-top: -14%;
          margin-left: 30%;
        }
        }

  body.opacado {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)), url("./img/fondoTronoDragon.jpg");
  }
}

@media screen and (max-width: 400px){
  .columnas {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: calc(400vh - 250px);
    overflow-y: scroll;
    float: left;
    background-color: #302c2c;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 75%;
  }
  }
  @media screen and (max-width: 400px){
  button {
    width: 1000px;
    height: 500px;
    min-height: 300px;
    background: #453F3F;
    border-radius: 50px;
    text-align: center;
    font-size: 70px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}
  }

  @media screen and (max-width: 400px) {
    .filtro-personajes {
      border-radius: 0.4em;
      height: 2em;
      width: auto;
      background-color: #f5f1f128;
      color: white;
      font-size: 4em;
       margin-left: 185%;
    }
  }

  @media screen and (max-width: 400px){
  ::-webkit-scrollbar {
    width: 60px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #111316;
    border-radius: 20px;
     }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bdbbbb;
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #D9D9D9;
  
  }
  }



.tarjetaPersonaje{
  color:white;
  margin-top: 0%;
  width: 300px;
  height: 35px;
  text-align: left;
  letter-spacing: 0.30em;
  margin-left: 3%;
  font-size: 15px;
  font-weight: 600;
}



.tarjetaPersonajeInfo{
  color:white;
  margin-top: 0%;
  width: 300px;
  height: 25px;
  text-align: justify;
  letter-spacing: 0.30em;
  margin-left: 40%;
  margin-top: -9%;
  font-size: 15px;
  overflow:auto;
}

 .contenedorInfo{

  height: auto;
  width: 25em;
  margin-top: 18%;
}

