@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
  margin: 0em;
}

body {
  background: black;
  /* width: 100%; */
  padding: 10px;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)), url("./img/fondoTronoDragon.jpg");
  transition: 1s;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;



}

h1 {
  text-align: center;
  margin: 1em;
}

.recuadro-personaje {
  display: flex;
  width: calc(100% / 7);
  border: 0.063em solid black;
  float: left;
  box-sizing: border-box;
  flex-direction: column;

}

.imagen-personaje {

  height: 12.5em;
  width: auto;
  object-fit: cover;
  border-radius: 0.813em;
}

.informacion {
  display: flex;
  justify-content: baseline;
  height: 2.1em;
}

.filtro-personajes {
  border-radius: 0.4em;
  height: 3em;
  width: auto;
  background-color: #f5f1f128;
  color: white;
  font-size: 1em;
  margin-left: 6%;
}

.logo-header {
  height: 15em;
  width: auto;
  
}

.logo--header {
  height: 3sem;
  width: auto;

}

header {
  display: flex;
  align-items: center;
}



button {
  width: 336px;
  height: 60px;
  min-height: 60px;
  background: #453F3F;
  border-radius: 30px;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

.imagen-personaje {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  float: left;
}

p {
  float: left;
  width: 100%;
  color: white;
  margin-left: 10px;
  font-family: 'Montserrat';
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.25em;
  text-align: left;

}

.text-center {
  text-align: center;
}

.margin-top15 {
  margin-top: 15px;
}

.margin-right10 {
  margin-right: 10%;
}

.margin-right25 {
  margin-right: 25%;
}

.tarjeta {
  width: 23%;
  background: #302c2c;
  float: right;
  height: calc(100vh - 230px);
  border-radius: 30px;

}

.columnas {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: calc(100vh - 250px);
  overflow-y: scroll;
  float: left;
  background-color: #302c2c;
  border-radius: 30px;
  margin-top: 20px;
}


.seleccion-boton {
  background: #D9D9D9;
  /* border: 1px solid #000000; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.seleccion-boton p {
  color: black;
  font-weight: bolder;
}

#selectOrder {
  height: 3em;
  border-radius: 0.4em;
  margin-left: 21%;

}


/* Scrollbars */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111316;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbbbb;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D9D9D9;

}

@media only screen and (max-width: 500px) {
  .recuadro-personaje {
    width: 100%;
  }

  .logo-header {
    height: auto;
    width: 50%;
    
  }

  .logo--header {
    height: auto;
    width: 30%;
  }
}


body.opacado {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url("./img/fondoTronoDragon.jpg");
}

/* Vista IPAD */
@media screen and (max-width: 1200px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)), url("./img/fondoTronoDragon.jpg");
    transition: 1s;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 170% 70%;
    background-position: center;
    background-size: cover;
    background-position-y: bottom;
  } 

  @media screen and (max-width: 1200px) {
    .logo-header {
      height: 14,5em;
      width: auto;  
      margin-top: 0%; 
      margin-left: 0%;
      
     } 
    .logo--header {
      height: 1em;
      display: none;

   
    }  
    }
  
    @media screen and (max-width: 1200px){
    #selectOrder {
      height: 3em;
      border-radius: 0.4em;
     display: none;
    
    }
  }

  @media screen and (max-width: 1200px) {
  .filtro-personajes {
    border-radius: 0.4em;
    height: 3em;
    width: auto;
    background-color: #f5f1f128;
    color: white;
    font-size: 1em;
     margin-left: 80%;
  }
}

@media screen and (max-width: 1200px){
.columnas {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: calc(100vh - 250px);
  overflow-y: scroll;
  float: left;
  background-color: #302c2c;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 30%;
}
}



@media screen and (max-width: 1200px){
  #columna3 {
  
   display: none;
  
  }
}

@media screen and (max-width: 1200px){
  #root {
  
   display: none;
  
  }
}


/* Vista Movil */
  @media screen and (max-width: 300px) {
      body {
        background-image: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0)
        ),url("./img/fondoTronoDragon.jpg");
        transition: 1s;
        background-repeat: no-repeat;
        position: relative; 
        background-attachment: fixed;
        /* left: 1px;
        top: 100px; */
        background-size: 20% 20%;
      }} 

      @media screen and (max-width: 850px){
        .columnas {
          display: flex;
          flex-direction: column;
          width: 50%;
          height: calc(2000vh - 250px);
          overflow-y: scroll;
          float: left;
          background-color: #302c2c;
          border-radius: 30px;
          margin-top: -14%;
          margin-left: 30%;
        }
        }

  body.opacado {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)), url("./img/fondoTronoDragon.jpg");
  }
}

@media screen and (max-width: 400px){
  .columnas {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: calc(400vh - 250px);
    overflow-y: scroll;
    float: left;
    background-color: #302c2c;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 75%;
  }
  }
  @media screen and (max-width: 400px){
  button {
    width: 1000px;
    height: 500px;
    min-height: 300px;
    background: #453F3F;
    border-radius: 50px;
    text-align: center;
    font-size: 70px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}
  }

  @media screen and (max-width: 400px) {
    .filtro-personajes {
      border-radius: 0.4em;
      height: 2em;
      width: auto;
      background-color: #f5f1f128;
      color: white;
      font-size: 4em;
       margin-left: 185%;
    }
  }

  @media screen and (max-width: 400px){
  ::-webkit-scrollbar {
    width: 60px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #111316;
    border-radius: 20px;
     }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bdbbbb;
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #D9D9D9;
  
  }
  }