/* @media screen and (max-width: 800px){
  body{
    background-image: url("./images/fondoTronoDragon.jpg"); 
  }
} */

* {
  margin: 0;
  /* box-sizing: border-box;
  position: absolute;
  width: 1728px;
  height: 1117px; 
  
  background-position-x: center;
  background-repeat: no-repeat; */
}

*{ 
  margin:0em;
}

body{
  background: black;
  width: 100%;
}

h1 {
  text-align: center;
  margin: 1em;
}

.recuadro-personaje {
  display: flex;
  width: calc(100% / 7);
  border: 0.063em solid black;
  float: left;
  box-sizing: border-box;
  flex-direction: column;

}

.imagen-personaje {

  height: 12.5em;
  width: auto;
  object-fit: cover;
  border-radius: 0.813em;
}

.informacion {
  display: flex;
  justify-content: baseline;
  height: 2.1em;
}

.filtro-personajes {
  border-radius: 0.4em;
  height: 2em;
  width: auto;
}

.logo-header {
  height: 10em;
  width:auto;
}

.logo--header{
  height:2em;
  width:auto;
}

header {
  display: flex;
  align-items: center;
}


@media only screen and (max-width: 500px) {
  .recuadro-personaje{
    width: 100%;
  }
  .logo-header{
    height: auto;
    width:50%;
    }
  .logo--header{
    height:auto;
    width:30%;
    }
}

@media screen and (max-width: 3800px) {
  body {
    background-image: url("./img/fondoTronoDragon.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: cover;
    background-attachment: fixed;
  }
}
  
  @media screen and (max-width: 1214px) {
    body {
      background-image: url("./img/fondoTronoDragonMovil.jpg");
      background-repeat: no-repeat;
 
      height: 655px;
      width: 380;
      position: absolute;
      background-attachment: fixed;
      left: 1px;
      top: 100px;
    }
  
  }

